<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alô Você!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <form>
         Nome <input type="text" id="nome">
         <input type="submit" value="enviar">  
    </form>   
    <h3></h3>    
    <script src="{{ url_for('static', filename='js/alovoce.js')}}"></script>
</body>
</html>