<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World POO</title>
   
</head>
<body>
    <h1> Competências Abordadas</h1>
  <ol>
    <li>Crie um CRUD completo</li>
    <li>Utilize banco de dados com MySQL e SQLAlchemy</li>
    <li> Crie um upload de arquivos</li>
    <li>  Valide formulários com o Flask WTF</li>
    <li>Deixe o projeto mais seguro com o Flask Bcrypt</li>

  </ol>
     
    
 
   
   



    <h1>Aula 1 - HelloWorld POO</h1>
    <h2> Vamos criar varios joguinhos para aprender POO</h2>
    <h3> Você vai aprender e se divertir</h3>
    <h4> Uma experiência incrível!</h4>
    <h5> HTML, CSS, Bootstrap, Java Script, Jinja 2 e WTForms no Front End</h5>
    <h6> Python , SQLAlchemy, Flask e MySQL no BackEnd</h6>  
    
    <script>
        alert("aqui é a praia do JavaScript!")
        console.log("JavaScript esta aqui!")
        // comentário de uma linha
        /*
           comentário de várias linhas
        */
     
    </script>
    <button onclick="olaMundo()">Clique aqui para dizer Olá!</button>

    <ul>
        <li><a href="/alovoce">alô você</a></li>
        <li><a href="/salada">salada mix - alô banco</a></li>

    </ul>

    <h3>{{mensagem}}</h3>

   <script src="{{ url_for('static', filename='js/alomundo.js') }}"></script>
</body>
</html>
